@use '../../../../styles/tokens' as *;
@use '../../../../styles/mixins' as *;

.card {
  @include card-base;
  background-color: var(--color-surface);
  border-color: var(--color-border-primary);
  transition: background-color $transition-base, border-color $transition-base;
}
